@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .button {
        @apply font-paytone cursor-pointer py-1 md:py-3 px-3 mx-6 my-3 text-sm text-center md:text-base bg-portfolio-yellow rounded-lg border-portfolio-yellow focus:outline-none text-black;
    }

    .headerBtn {
        @apply mx-7 px-3 pb-1 cursor-pointer border-white backdrop-blur-lg rounded-lg border-2 hover:text-black hover:bg-white;
    }

    .inputField {
        @apply rounded-lg bg-portfolio text-white font-light p-1;
    }

    .skillIcons {
        @apply m-4 hover:text-portfolio-pink text-7xl text-portfolio-red;
    }

    .skillDesc {
        @apply font-reem max-w-sm my-2;
    }

    .sectionHeading {
        @apply font-notable text-4xl m-10;
    }

    .sectionHR {
        @apply border-t-4 rounded-full m-5;
    }

    .mainBGContainer {
        height: 0;
        padding-top: 56%;
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .dripContaner {
        height: 0;
        padding-top: 26%;
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .mainAccentContainer {
        height: 0;
        padding-top: 99%;
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .homeAboutContainerBig {
        padding-top: 139%;
        width: 100%;
        position: relative;
        overflow: hidden;
        z-index: 90;
    }

    .homeAboutContainerSmall {
        height: 0;
        padding-top: 150%;
        width: 100%;
        position: relative;
        overflow: hidden;
        z-index: 90;
    }

    .photoGrid {
        display: grid;
        box-sizing: border-box;
    }

    .project {
        width: 100%;
        padding-bottom: 39%;
    }
}