@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
    body {
        
    }
} */

@layer utilities {
    .button {
        @apply font-paytone cursor-pointer p-3 mx-6 my-3 text-sm md:text-base bg-portfolio-yellow rounded-lg border-portfolio-yellow focus:outline-none text-black;
    }

    .headerBtn {
        @apply mx-7 px-3 pb-1 cursor-pointer border-white backdrop-blur-lg rounded-lg border-2 hover:text-black hover:bg-white;
    }

    .inputField {
        @apply rounded-lg bg-portfolio text-white font-light p-1;
    }

    .skillIcons {
        @apply m-4 hover:text-portfolio-pink text-7xl text-portfolio-red;
    }

    .skillDesc {
        @apply font-reem max-w-sm my-2;
    }

    .sectionHeading {
        @apply font-notable text-4xl m-10;
    }

    .sectionHR {
        @apply border-t-4 rounded-full m-5;
    }

    .mainBGContainer {
        height: 0;
        padding-top: 56%;
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .dripContaner {
        height: 0;
        padding-top: 26%;
        width: 100%;
        position: relative;
        overflow: hidden;
    }
}